<header>
    <h1>Booktique Data Management System</h1>
    <nav>
        <a href="/home">Home</a>
        <a href="/users">Users</a>
        <a href="/userbooks">UserBooks</a>
        <a href="/books">Books</a>
        <a href="/authors">Authors</a>
        <a href="/bookgenres">BookGenres</a>
        <a href="/genres">Genres</a>
    </nav>
</header>

<div class="content">
    <p>Booktique is an ambitious, highly-driven start-up company with over 2,500 active users annually...</p>

    <h2>Page Descriptions</h2>

    <h3>Users:</h3>
    <p>The Users page supplies details on current users' username, password, and email.</p>

    <h3>Books:</h3>
    <p>The Books page supplies details on books in our database. Their titles, book descriptions, and publish date are all included here. In addition, information on genre is included here.</p>

    <h3>Authors:</h3>
    <p>The Authors page displays a list of all authors in our database using their full name.</p>

    <h3>UserBooks:</h3>
    <p>The UserBooks page consists of all user information in relation to what books they are currently wishlisting, reading, or having dropped.</p>
</div>