{{!-- 
    Citation for main.hbs 
    Date: 02/09/25
    Adapted from: NodeJS CS340 Starter Code
    Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main 
--}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Booktique</title>
    <link rel="preload" href="/typeface.woff2" as="font" type="font/arial" crossorigin>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <nav>
        <div id="navSpace"></div>
        <div class="nav_links">
            <a href="/">Home</a>
            <a href="/users">Users</a>
            <a href="/books">Books</a>
            <a href="/authors">Authors</a>
            <a href="/genres">Genres</a>
            <a href="/userbooks">UserBooks</a>
            <a href="/authorbooks">AuthorBooks</a>
            <a href="/bookgenres">BookGenres</a>
        </div>
    </nav>
    
    <!-- Body content -->
    {{{body}}}
</body>
</html>
