<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<h1>Genre Data</h1>

<form action="/add-genre" method="POST">
    <label for="genreName">Genre Name:</label>
    <input type="text" id="genreName" name="genreName" required>

    <button type="submit">Add Genre</button>
</form>

<hr>

<!-- Genres Table -->
<h2>Genres List</h2>
<table id="genres_table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Genre Category</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    {{#each data}}
    <tr data-value={{this.genreID}}>
        <td>{{this.genreID}}</td>
        <td>{{this.genreName}}</td>
        <td><button
                onclick="deleteGenre({{this.genreID}})"
                >Delete</button>
        </td>
    </tr>
    {{/each}}
  </tbody>
</table>
<script src="./js/genres.js"></script>