<table>
  <thead>
    <tr>
      <th><input type="checkbox" id="select-all" /></th>
      <th>ID</th>
      <th>Username</th>
      <th>Password</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><input type="checkbox" class="select-row" /></td>
      <td>1</td>
      <td>lights</td>
      <td>12345</td>
      <td>lights2@gmail.com</td>
    </tr>
    <tr>
      <td><input type="checkbox" class="select-row" /></td>
      <td>2</td>
      <td>test1</td>
      <td>34256</td>
      <td>tester@email.com</td>
    </tr>
    <tr>
      <td><input type="checkbox" class="select-row" /></td>
      <td>3</td>
      <td>booklover</td>
      <td>54321</td>
      <td>books4life@gmail.com</td>
    </tr>
  </tbody>
</table>